# Ignore Eclipse project files
.classpath
.project
.settings/

# Ignore IDEA project files
.idea/
*.iml

# Ignore vscode project files
.vscode/

# Ignore gradle metadata
.gradle/

# Ignore output directories
.springBeans
build/
target/
out/
test-output/
classes/

# Ignore POM file backups created by Maven versions plugin
pom.xml.versionsBackup
/bin/

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
